div(style='text-align: center; font-family: Arial;')
  img(src=host + '/assets/logo_dark_512.png' style="margin: 30px 0; height: 100px;")
  h2 #{name},
  p Mañana empieza tu plan:
  h2 #{planName}
  p #{planDescription}
  p #{length} día(s) | #{startDate} - #{endDate}
  p(style="margin-top: 30px") Podrás ver toda la información del plan en el siguiente enlace:
  a(href=host + '/plans/plan/?id=' + id style="display: inline-block; font-weight: 400; line-height: 1.5; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: #fff; background-color: #0d6efd; border-color: #0d6efd;") Información del plan
  p Recuerda que puedes modificar las rutas en cualquier momento.
  p(style="margin-top: 30px") ¡Esperamos que disfrutes de tu viaje!
  p El equipo de Hermes

  a(style="margin-top: 30px; font-size: 20px;" href=host + '/profile/') Desuscribirse y gestionar notificaciones